body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#trip-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: none;
}


#map-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 150px;
}

#trip-form {
  position: relative;
  margin-left: 80%;
  display: flex;
  align-items: center;
}

#trip-input {
  display: flex;
  align-content: center;
}

/* #review-input {
  display: flex;
  justify-content: flex-start;
} */

nav {
text-align: center;
margin: 0px 0 0 ;
padding: 10px 0;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

nav li {
   display: inline-block;
   padding: 5px 5px;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
  align-self: auto;
}