.stops-index-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.stops-index-children{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.stops-index-children > div:first-child
{
    position: relative;
    flex-grow: 1;
}

.stop-list-container
{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.stop-list-header{
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#stop-list
{
    list-style-type: none;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

#stop-list > li
{
    padding-bottom: 5px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#stop-list > li:hover
{
    background-color: rgb(245, 161, 161);
}

#stop-list > li.selected{
    text-decoration: underline;
    color: green;
}